*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-group{ margin: 20px 0; }
input{ height: 50px; width: 100%; padding: 5px; border-radius: 5px;}
button{ 
    padding: 14px 32px;
    background-color: #81fbb9;
    color: #000000;
    border-radius: 24px 4px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top:20px
}

html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background: #2a2830;
    display: flex;
    flex-flow: column;
    height: 100vh;
    max-width: 1440px;
    margin: auto;
}

header #menu{
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}


header #menu ul li a{
  padding: 14px 32px;
  border: 1px solid #dddd;
  background-color: #81fbb9;
  color: #000000;
  border-radius: 24px 4px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top:20px

}

main{
  
    width:35%;
    /* height: 100px; */
    margin: auto;
    align-items: center;
    text-align: center;
    color: #81fbb9;
    font-size: large;
    border: 1px solid #81fbb9;
    padding:  80px;
    border-radius: 10px;
}

a {
    color: white;
}

.logout {
    color:black
}